.spyproject
wandb
aiinpy/__pycache__
*.pyc
!.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.replit
docs/node_modules
docs/.github
docs/.firebase
docs/build
docs/admin/adminkey.json
docs/logs
docs/*.log
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/firebase-debug.log*
docs/firebase-debug.*.log*
docs/.firebase/
docs/pids
docs/*.pid
docs/*.seed
docs/*.pid.lock
docs/lib-cov
docs/coverage
docs/.nyc_output
docs/.grunt
docs/bower_components
docs/.lock-wscript
docs/build/Release
docs/node_modules/
docs/.npm
docs/.eslintcache
docs/.node_repl_history
docs/*.tgz
docs/.yarn-integrity
docs/.env