.spyproject
wandb
aiinpy/__pycache__
*.pyc
!.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.replit
docs/node_modules
docs/.github
docs/.firebase
docs/build
docs/admin/adminkey.json